<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HW_2_ChristianOBrien.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAED55D21C72187C00C41F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAED55E61C72187D00C41F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAED55F11C72187D00C41F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
