<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HW_1_Part2_ChristianOBrien.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA72B7981C6A82EB00921F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA72B7AC1C6A82EB00921F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA72B7B71C6A82EB00921F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
